---
import PageLayout from '@layouts/PageLayout.astro';
import PageMeta from '@components/PageMeta.astro';
import { getCollection } from 'astro:content';
import { formatDate } from '@utils/date';
import siteConfig from '../../../site.config.mjs';

const lang = siteConfig.defaultLanguage;
const allBlogPosts = await getCollection('blog', (post) => post.data.draft !== true);

const sortedPosts = allBlogPosts
  .map((post) => ({
    ...post,
    path: `/blog/${post.slug}`,
  }))
  .sort((a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf());
---

<PageLayout>
  <PageMeta title={`Blog | ${siteConfig.site.title}`} slot="meta" />
  <section slot="main">
    {
      (
        <ul>
          {sortedPosts.map((post) => {
            return (
              <li class="grid grid-cols-[1fr] md:grid-cols-[1fr_auto] mb-3 md:gap-2 items-center">
                <div class="title">
                  {post.data.external ? (
                    <a href={post.data.url} target="_blank" class="unset hover:text-text-link" data-astro-prefetch>
                      <span>{post.data.title}</span>
                      <span>
                        <i class="ml-1 mr-1 text-[12px] pb-2 fa-solid fa-up-right-from-square pt-1" />
                      </span>
                    </a>
                  ) : (
                    <a href={post.path} class="unset hover:text-text-link" data-astro-prefetch>
                      {post.data.title}
                    </a>
                  )}
                </div>
                <div class="text-text-muted text-sm italic">
                  <time datetime={post.data.date.toISOString()}>{formatDate(lang, post.data.date)}</time>
                </div>
              </li>
            );
          })}
        </ul>
      )
    }
  </section>
</PageLayout>
