---
import { Image } from 'astro:assets';
import PageLayout from '@layouts/PageLayout.astro';
import PageMeta from '@components/PageMeta.astro';
import { getCollection } from 'astro:content';
import { formatBlogPosts } from '@utils/collectionParser';
import type { CollectionEntry } from 'astro:content';
import siteConfig from '../../site.config.mjs';

const allPosts = await getCollection('blog');

const recentPosts: CollectionEntry<'blog'>[] = formatBlogPosts(allPosts, {
  limit: 3,
});

const siteTitle = siteConfig.site.title;
const siteDescription = siteConfig.site.description;

export async function getStaticPaths() {
  return [
    {
      params: {
        lang: 'ko',
      },
    },
    // {
    //   params: {
    //     lang: 'en',
    //   },
    // },
  ];
}
---

<PageLayout>
  <PageMeta title={`Home | ${siteConfig.site.title}`} slot="meta" />
  <section slot="main" class="blog-post prose max-w-none prose-sleek">
    <h1 class="m-0 mb-[0.25em] leading-normal">
      {siteTitle}
    </h1>
    <p>
      {siteDescription}
    </p>

    <h2 class="flex items-center font-extrabold justify-center sm:justify-start">
      Recent Articles<a
        href={'/ko/blog'}
        class="text-sm font-semibold bg-none unset"
        aria-label="Open blog page"
        data-astro-prefetch
      >
        <i class="fas fa-link mx-1.5 mt-2"></i></a
      >
    </h2>

    <div class="flex flex-wrap -m-4">
      {
        recentPosts.map((post) => (
          <div class="w-full md:w-1/3 p-4">
            <a href={post.data.url} data-astro-prefetch>
              <div class="bg-gray-200 bg-transparent overflow-hidden h-32">
                <img
                  src={post.data.cover.src}
                  alt={post.data.coverAlt}
                  class="m-0 object-cover h-full bg-slate-700 rounded-lg w-full"
                  transition:name={`image-${post.data.url.replaceAll('/', '-')}`}
                  transition:animate={'initial'}
                />
              </div>
            </a>
            <a
              href={post.data.url}
              class="block mt-2 text-sm font-semibold text-gray-900 dark:text-gray-200 bg-none unset"
              data-astro-prefetch
            >
              {post.data.title}
            </a>
          </div>
        ))
      }
    </div>

    <div class="flex items-center justify-center w-full h-16 mt-10 text-lg font-bold">
      <p>Decorate your homepage</p>
    </div>
  </section>
</PageLayout>
